<!DOCTYPE html>
<html>
<head>
    <title>PCF Certificate(s) Expiry Alert</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333;
            background-color: #ffffff; /* Fully white background */
            margin: 0;
            padding: 20px;
        }
        
        h2 {
            color: #d9534f;
            text-align: center;
        }

        p {
            font-size: 16px;
            line-height: 1.6;
        }

        /* Developer Notice */
        .notice {
            background: #fff3cd;
            padding: 10px;
            border-radius: 5px;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 20px;
            border-left: 4px solid #ffcc00;
        }

        .final-warning {
            background: #ff2e63;
            color: white;
        }

        /* Summary Box */
        .summary-box {
            background: #f8f9fa;
            padding: 10px;
            border-radius: 8px;
            margin-bottom: 15px;
            border-left: 4px solid #0275d8;
        }

        /* Certificate Card */
        .card {
            background: #f8f9fa;
            padding: 15px;
            margin: 10px 0;
            border-radius: 8px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
            border-left: 5px solid #0275d8;
        }

        /* Urgent Styling for Production Certs */
        .urgent {
            background-color: #ffcccc !important;
            color: #d9534f;
            border-left: 5px solid #d9534f;
        }

        /* Badge Styles */
        .tag {
            display: inline-block;
            background: #0275d8;
            color: white;
            font-size: 12px;
            padding: 5px 10px;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .urgent-tag {
            background: #d9534f;
        }

        .self-signed-tag {
            background: #17a2b8;
        }

        /* Button Styles */
        .button {
            display: inline-block;
            padding: 8px 12px;
            color: white;
            background: #0275d8;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 10px;
        }

        .button:hover {
            background: #025aa5;
        }

        .renew-button {
            display: inline-block;
            background: #5cb85c;
            color: white;
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            text-align: center;
            margin: 20px auto;
        }

        .footer {
            margin-top: 20px;
            font-size: 14px;
            text-align: center;
            color: #666;
        }
    </style>
</head>
<body>

<h2>{% if final_warning %}❌ FINAL WARNING{% else %}⚠️ PCF Certificate(s) Expiry Alert{% endif %}</h2>
<p>Hello <strong>{{ subgroup_name }} Team</strong>,</p>
<p>The following certificates in your subgroup are expiring within the next {% if final_warning %}**2 weeks**{% else %}**{{ warning_period }} months**{% endif %}:</p>

<!-- Developer Notice -->
<div class="notice {% if final_warning %}final-warning{% endif %}">
    {% if final_warning %}
    🚨 FINAL WARNING: Immediate action required for **production certificates**!
    {% else %}
    ⚠️ Please verify other certificates used in your application as they may not have automated reminders.
    {% endif %}
</div>

<!-- Summary Section -->
<div class="summary-box">
    <p><strong>Total Expiring Certificates:</strong> {{ total_certs }}</p>
    <p><strong>Urgent Production Certificates:</strong> {{ urgent_certs }}</p>
    <p><strong>Self-Signed Certificates:</strong> {{ self_signed_certs }}</p>
</div>

{% for cert in certs %}
<div class="card {% if 'prd.json' in cert.file %}urgent{% endif %}">
    <h3>{{ cert._id }}</h3>
    {% if 'prd.json' in cert.file %}
        <span class="tag urgent-tag">🚨 Production Certificate - Urgent</span>
    {% elif cert.file.endswith("dev.json") %}
        <span class="tag self-signed-tag">🔐 Self-Signed Certificate</span>
    {% else %}
        <span class="tag">⚠️ Expiring Soon</span>
    {% endif %}
    <p><strong>Serial Number:</strong> {{ cert.serial_number }}</p>
    <p><strong>Project:</strong> {{ cert.project_name }}</p>
    <p><strong>Expiration Date:</strong> {{ cert.valid_to }}</p>
    <p><strong>File:</strong> {{ cert.file }}</p>
    <a href="{{ cert.project_link }}" class="button">View Project</a>
</div>
{% endfor %}

<!-- Renew Button (Bottom) -->
<div style="text-align: center;">
    <a href="{{ renewal_link }}" class="renew-button">🔄 Renew Now</a>
</div>

<!-- Developer Notice (Bottom) -->
<div class="notice {% if final_warning %}final-warning{% endif %}">
    {% if final_warning %}
    🚨 FINAL WARNING: Immediate action required for <b>production certificates</b>!
    {% else %}
    ⚠️ Please verify other certificates used in your application as they may not have automated reminders.
    {% endif %}
</div>

<p>If you have any questions, contact the platform team.</p>

<div class="footer">
    <p>🚀 DevOps Team | Auto-generated Alert</p>
</div>

</body>
</html>