### 🔹 {{ type | title }} Details 🔹

- **🆔 Number:** `{{ data.number }}`

- **📌 Short Description:** {{ data.short_description[:200] }}{% if data.short_description|length > 200 %}... _(truncated, see full record in ServiceNow)_ {% endif %}

- **📝 Description:**  
  {% if data.description|length > 500 %}
  {{ data.description[:500] }}...  
  🔗 [_View full details in ServiceNow_]({{ data.assignment_group.link }})
  {% else %}
  {{ data.description }}
  {% endif %}

- **📊 State:** {{ data.state }}

- **📅 Start Date:** {{ data.start_date or 'N/A' }}

- **⏳ End Date:** {{ data.end_date or 'N/A' }}

- **👥 Assignment Group:** [{{ data.assignment_group.value }}]({{ data.assignment_group.link }})

---
 
🔴 **Do not merge this merge request outside the approved window.**  